<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CRM Web app">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">

    <title>Freelancer CRM</title>
</head>
<body class="bg-light">
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 7000" id="alert_container"></div>
<div class="bg-white sticky-top border-bottom mb-3 py-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1 class="text-capitalize ">Freelancer CRM</h1>
            </div>
            <a target="_blank" class="btn border btn-light" href="https://github.com/growupanand/freelancer_crm">
                <span class="bi bi-github"></span> Follow
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg mb-3">
            {% block body %}{% endblock %}
        </div>
        <div class="col-lg mb-3">

            <div class="card">
                <div class="card-body">
                    <h4>Features</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item border-0">
                            <span class="bi bi-check text-white rounded rounded-circle bg-success"></span>
                            Free for personal use
                        </li>
                        <li class="list-group-item border-0">
                            <span class="bi bi-check text-white rounded rounded-circle bg-success"></span>
                            Multi User support
                        </li>
                        <li class="list-group-item border-0">
                            <span class="bi bi-check text-white rounded rounded-circle bg-success"></span>
                            Manage Contacts Easily
                        </li>
                        <li class="list-group-item border-0">
                            <span class="bi bi-check text-white rounded rounded-circle bg-success"></span>
                            Manage Contact Vehicles and its Insurance on same page
                        </li>
                        <li class="list-group-item border-0">
                            <span class="bi bi-check text-white rounded rounded-circle bg-success"></span>
                            Manage Insurance Renewals Easily with followups records
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <p class="text-muted">For any query or feedback, Please contact on <a class="text-decoration-none"
                                                                                          href="mailto:growupanand@gmail.com">growupanand@gmail.com</a>
                    </p>
                </div>
                <div class="card-body">
                    <h4><span class="bi bi-heart-fill text-danger"></span> Support Developer</h4>
                    <a href="https://www.buymeacoffee.com/growupanand" target="_blank"><img
                            src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee"
                            style="height: 60px !important;width: 217px !important;"></a>
                </div>
            </div>

        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-2">
        <small class="text-muted">Version: 2021 Beta</small>
        <a class="text-decoration-none" target="_blank" href="https://www.gnu.org/licenses/gpl-3.0-standalone.html">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 width="96" height="20" role="img" aria-label="License: GPLv3"><title>License:
                GPLv3</title>
                <linearGradient id="s" x2="0" y2="100%">
                    <stop offset="0" stop-color="#bbb" stop-opacity=".1"></stop>
                    <stop offset="1" stop-opacity=".1"></stop>
                </linearGradient>
                <clipPath id="r">
                    <rect width="96" height="20" rx="3" fill="#fff"></rect>
                </clipPath>
                <g clip-path="url(#r)">
                    <rect width="51" height="20" fill="#555"></rect>
                    <rect x="51" width="45" height="20" fill="#007ec6"></rect>
                    <rect width="96" height="20" fill="url(#s)"></rect>
                </g>
                <g fill="#fff" text-anchor="middle" font-family="Verdana,Geneva,DejaVu Sans,sans-serif"
                   text-rendering="geometricPrecision" font-size="110">
                    <text aria-hidden="true" x="265" y="150" fill="#010101" fill-opacity=".3"
                          transform="scale(.1)" textLength="410">License
                    </text>
                    <text x="265" y="140" transform="scale(.1)" fill="#fff" textLength="410">License
                    </text>
                    <text aria-hidden="true" x="725" y="150" fill="#010101" fill-opacity=".3"
                          transform="scale(.1)" textLength="350">GPLv3
                    </text>
                    <text x="725" y="140" transform="scale(.1)" fill="#fff" textLength="350">GPLv3
                    </text>
                </g>
            </svg>
        </a>
    </div>
</div>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>
</html>