{% extends 'base.html' %}
{% block content %}

    <div class="bg-light">
        <div class="navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand text-white" href="/">Utkarsh Anand Financial Services</a>
                <div class="navbar-nav">
                    <div class="nav-item">
                        <a class="nav-link" href="/login">LOGIN</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-8 mb-3">
                    <div class="card border-0 mb-3 bg-light">
                        <div class="card-body">
                            <h1 class="card-title"><span class="fs-1 bi bi-person-circle"></span> UTKARSH ANAND
                                    </h1>
                            <div class="row">
                                <div class="col-md">
                                    <p><span class="bi bi-phone"></span> +91-8439493930
                                        <br/><span class="bi bi-mailbox"></span> uafinancialservices@gmail.com</p>
                                </div>
                                <div class="col-md text-center">
                                    <div class="btn-group">
                                        <button class="btn px-5 bg-white text-success"><span
                                                class="bi bi-telephone-fill"></span> CALL
                                        </button>
                                        <button class="btn px-4 btn-success">
                                            <img width="30px"
                                                 src="{{ url_for('static', filename='img/icon_whatsapp.png') }}">
                                            WhatsApp
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="lead">
                                We here to fully insure you by doing insurance of your all vehicle, health, life and
                                business.
                                Also we here to support to get financial strong by providing loan from banks for
                                your personal
                                or business needs.
                            </p>
                        </div>
                    </div>
                    <div class="card mb-3 rounded">
                        <div class="card-body">
                            <h2 class="card-title">INSURANCE</h2>
                            <figure>
                                <blockquote class="blockquote">
                                    <p>Getting insurance is YOUR responsibility to your family and loved
                                        ones.
                                        You
                                        may hate it but it is your responsibility.</p>
                                </blockquote>
                                <figcaption class="blockquote-footer">
                                    Jeremiah
                                </figcaption>
                            </figure>
                        </div>
                        <div class="card-body">
                            <div class="accordion accordion-flush" id="accordion_services">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="heading_motor">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-target="#motor_insurance" data-bs-toggle="collapse">
                                            MOTOR INSURANCE
                                        </button>
                                    </h3>
                                    <div class="accordion-collapse collapse"
                                         id="motor_insurance" data-bs-parent="#accordion_services">
                                        <div class="accordion-body">

                                            <p><span class="lead fw-bold">Motor insurance</span> is an
                                                insurance policy that covers the
                                                policyholder
                                                in
                                                case of financial losses – resulting from an accident or
                                                other
                                                damages –
                                                sustained by the insured vehicle. A comprehensive motor
                                                insurance
                                                policy
                                                covers damages to
                                                third-party and third-party property along with
                                                compensating for
                                                own
                                                losses as well.</p>
                                            <figure>
                                                <blockquote class="blockquote">
                                                    <p>Driving race cars is risky, not having motor
                                                        insurance is riskier</p>
                                                </blockquote>

                                            </figure>
                                            <div class="row">
                                                <div class="col-lg-8">

                                                    <h5 class="card-title">What are covered in Motor
                                                        Insurance</h5>
                                                    <ul>
                                                        <li>BIKE</li>
                                                        <li>SCOOTER / ACTIVA</li>
                                                        <li>CAR</li>
                                                        <li>THREE WHEELER / CHOTA HAATI</li>
                                                        <li>BUS / TRUCK</li>
                                                    </ul>
                                                    <h5 class="card-title">Type of Covers in Motor
                                                        Insurance</h5>
                                                    <ul>
                                                        <li>Package Policy</li>
                                                        <li>Package Policy + Addon Covers <span
                                                                class="text-muted">(Nil depreciation, consumable, return to invoice)</span>
                                                        </li>
                                                        <li>Third Party Policy</li>
                                                        <li>Standalone OD Policy</li>
                                                    </ul>
                                                    <h5 class="card-title">Benefits you get from us</h5>
                                                    <ul>
                                                        <li>Lowest Premium</li>
                                                        <li>Smooth claim process</li>
                                                        <li>Best renewal offer with reminder</li>
                                                    </ul>
                                                    <h5 class="card-title">How to get</h5>
                                                    <ol>
                                                        <li>Send Vehicle Documents
                                                            <ul>
                                                                <li>Registration (RC)</li>
                                                                <li>Current Insurance Policy</li>
                                                                <li>Pollution Certificate</li>
                                                            </ul>
                                                        </li>
                                                        <li>Pay Premium</li>
                                                        <li>Download Policy</li>
                                                    </ol>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="d-grid">
                                                        <button class="btn btn-light text-primary"
                                                                type="button">GET POLICY
                                                            REMINDER
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="heading_health">
                                        <button class="accordion-button collapsed" data-bs-toggle="collapse"
                                                data-bs-target="#accordion_health_insurance" type="button">
                                            HEALTH INSURANCE
                                        </button>
                                    </h3>
                                    <div class="accordion-collapse collapse"
                                         data-bs-parent="#accordion_services"
                                         id="accordion_health_insurance">
                                        <p class="accordion-body">sdf lksdj fklsdj kf jdsklf</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="pt-3 sticky-top">
                        <div class="card shadow mb-3">
                            <h5 class="card-header">
                                ENQUIRY NOW!
                            </h5>
                            <div class="card-body">
                                <form>
                                    <input type="text" class="form-control mb-3" placeholder="Name" id="name" required/>
                                    <input type="text" class="form-control mb-3" placeholder="Mobile Number or Email"
                                           id="contact"
                                           required/>
                                    <textarea placeholder="Type your query here" rows="5" class="form-control mb-3"
                                              required></textarea>
                                    <div class="d-grid">
                                        <button class="btn btn-primary" type="submit">SUBMIT</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
{% endblock %}