{% extends 'base.html' %}
{% block content %}
    <style>
        body {
            position: relative;
        }
    </style>
    <div class="bg-light position-relative">
        <div id="alert"></div>
        <div class="navbar bg-white py-3">
            <div class="container-xl">
                <span style="" class="navbar-brand fs-2 text-dark text-capitalize">
                    Utkarsh Anand Financial Services
                </span>
                <a href="/login" class="btn btn-outline-primary">LOGIN</a>
            </div>
        </div>
        <div class="container-xl">
            <div class="row">
                <div class="col-md-8 mb-3">
                    <div class="card bg-transparent border-0 mb-3">
                        <div class="card-body">
                            <h1 class="card-title"><span class="fs-1 bi bi-person-circle"></span> UTKARSH ANAND</h1>
                            <div class="row">
                                <div class="col-md">
                                    <p><span class="bi bi-phone"></span> +91-8439493930
                                        <br/><span class="bi bi-mailbox"></span> uafinancialservices@gmail.com</p>
                                </div>
                                <div class="col-md text-center">
                                    <div class="btn-group">
                                        <a href="tel:8439493930"
                                           class="btn px-5 bg-white border-success text-success"><span
                                                class="bi bi-telephone-fill"></span> CALL
                                        </a>
                                        <a target="_blank" href="https://api.whatsapp.com/send?phone=8439493930"
                                           class="btn px-4 btn-success border-success">
                                            <img width="30px"
                                                 src="{{ url_for('static', filename='img/icon_whatsapp.png') }}">
                                            WhatsApp
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="lead">
                                We here to fully insure you by doing insurance of your all vehicle, health, life and
                                business.
                                Also we here to support to get financial strong by providing loan from banks for
                                your personal
                                or business needs.
                            </p>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <h2 class="card-header text-center">INSURANCE</h2>
                        <div class="card-body">
                            <figure >
                                <blockquote class="blockquote">
                                    "Getting insurance is YOUR responsibility to your family and loved
                                    ones.
                                    You
                                    may hate it but it is your responsibility."
                                </blockquote>
                                <figcaption class="blockquote-footer">
                                    Jeremiah
                                </figcaption>
                            </figure>
                        </div>
                        <div class="card-body sticky-top">
                            <div id="navbar-example" class="navbar px-3 bg-white">
                           <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#heading_motor">MOTOR INSURANCE</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#heading_health">HEALTH INSURANCE</a>
                                    </li>
                                </ul>
                            <button class="btn btn-light rounded-pill text-primary"
                                        type="button" data-bs-toggle="modal"
                                        data-bs-target="#policy_reminder_modal">
                                    <span class="bi bi-bell-fill"></span> SET REMINDER
                                </button>
                        </div>
                        </div>
                        <div id="heading_motor" class="card-body">
                            <h4 class="card-title">MOTOR INSURANCE</h4>
                            <p>Motor Insurance is an
                                insurance policy that covers the
                                policyholder
                                in
                                case of financial losses – resulting from an accident or
                                other
                                damages –
                                sustained by the insured vehicle. A comprehensive motor
                                insurance
                                policy
                                covers damages to
                                third-party and third-party property along with
                                compensating for
                                own
                                losses as well.</p>
                            <figure class="p-3">
                                <blockquote class="blockquote">
                                    <p>"Driving race cars is risky, not having motor
                                        insurance is riskier."</p>
                                </blockquote>

                            </figure>

                            <div class="row">
                                <div class="col-lg-6">

                                    <h5 class="card-title">COVERED:</h5>
                                    <ul>
                                        <li>BIKE</li>
                                        <li>SCOOTER / ACTIVA</li>
                                        <li>CAR</li>
                                        <li>THREE WHEELER / CHOTA HAATI</li>
                                        <li>BUS / TRUCK</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <h5 class="card-title">COVER TYPE:</h5>
                                    <ul>
                                        <li>Package Policy</li>
                                        <li>Package Policy + Addon Covers <span>(Nil depreciation, consumable, return to invoice)</span>
                                        </li>
                                        <li>Third Party Policy</li>
                                        <li>Standalone OD Policy</li>
                                    </ul>
                                </div>
                            </div>
                            <h5 class="card-title">BENEFITS</h5>
                            <ul>
                                <li>Lowest Premium</li>
                                <li>Smooth claim process</li>
                                <li>Best renewal offer with reminder</li>
                            </ul>
                            <h5 class="card-title">How to get</h5>
                            <ol>
                                <li>Send Vehicle Documents
                                    <ul>
                                        <li>Registration (RC)</li>
                                        <li>Current Insurance Policy</li>
                                        <li>Pollution Certificate</li>
                                    </ul>
                                </li>
                                <li>Pay Premium</li>
                                <li>Download Policy</li>
                            </ol>
                        </div>
                        <div id="heading_health" class="card-body">
                            <h4 class="card-title">HEALTH INSURANCE</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 ">
                    <div class="pt-3 sticky-top">
                        <div class="card shadow mb-3">
                            <h5 class="card-header text-center">
                                ENQUIRY NOW
                            </h5>
                            <div class="card-body">
                                <div id="alert_enquiry"></div>
                                <form name="form_enquiry" onsubmit="submit_form_enquiry(this)">
                                    <input type="text" class="form-control mb-3" name="name" placeholder="Name"
                                           id="name" required/>
                                    <input type="text" class="form-control mb-3" name="contact"
                                           placeholder="Mobile Number or Email"
                                           id="contact"
                                           required/>
                                    <textarea placeholder="Type your query here" name="query" rows="5"
                                              class="form-control mb-3"
                                              required></textarea>
                                    <div class="d-grid">
                                        <button class="btn rounded-pill btn-primary btn-lg" type="submit">SUBMIT
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="policy_reminder_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">GET POLICY REMINDER</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form name="form_policy_reminder" onsubmit="submit_policy_reminder_form(this)">
                        <label class="form-label" for="reminder_policy_type">Policy Type</label>
                        <select class="form-select mb-3" name="policy_type" id="reminder_policy_type">
                            <option value="">Select Type</option>
                            <option value="motor">Motor Policy</option>
                            <option value="health">Health Policy</option>
                        </select>
                        <label class="form-label" for="reminder_name">Name</label>
                        <input placeholder="Name" class="form-control mb-3" id="reminder_name" type="text" name="name"
                               required/>
                        <label class="form-label" for="reminder_contact_detail">Contact Detail</label>
                        <input placeholder="Mobile Number or Email" class="form-control mb-3"
                               id="reminder_contact_detail" type="text" name="contact_detail" required/>
                        <label class="form-label" for="reminder_expiry_date">Expiry Date</label>
                        <input placeholder="Expiry Date" class="form-control mb-3" id="reminder_expiry_date" type="date"
                               name="expiry_date" required/>
                        <div id="alert_reminder_motor"></div>
                        <div class="d-grid mb-3">
                            <button class="btn btn-primary" type="submit">
                                <span style="display: none" class="spinner-border spinner-border-sm" id="loading"
                                      role="status" aria-hidden="true"></span>
                                SUBMIT
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <script>

        function submit_policy_reminder_form(form) {
            event.preventDefault()
            data = $(form).serializeArray()
            data.push({'name': 'source', 'value': 'homepage'})
            hide_alert('alert_reminder_motor')
            $("form :input").prop("disabled", true);
            $(form).find('#loading').show()
            $.ajax({
                url: '/api/add_policy_reminder',
                data: data,
                dataType: 'JSON',
                type: 'POST',
                success: function (response) {
                    if (response.result == true) {
                        form.reset()
                        show_alert('Reminder set successfully. We will call you before policy expiry.', 'success', 'alert_reminder_motor')
                    } else {
                        show_alert(response.msg, 'error', 'alert_reminder_motor')
                    }
                },
                complete: function () {
                    $(form).find('#loading').hide()
                    $("form :input").prop("disabled", false);
                }
            })
        }

        function submit_form_enquiry(form) {
            event.preventDefault();
            data = $(form).serializeArray();
            data.push({'name': 'source', 'value': 'homepage'})
            $("form :input").prop("disabled", true);
            $.ajax({
                url: '/ajax/submit_enquiry',
                type: 'POST',
                data: data,
                dataType: 'JSON',
                success: function (response) {
                    if (response.result == true) {
                        show_alert('<span class="fw-bold">Enquiry submitted successfully!</span><br/>We will call you within 24 working hours.', 'success', 'alert_enquiry', 'default')
                        form.reset();
                    } else {
                        show_alert(response.msg, 'error', 'alert_enquiry')
                    }
                },
                complete: function () {
                    $("form :input").prop("disabled", false);
                }
            })

        }

    </script>
{% endblock %}