{% extends 'base.html' %}
{% block body %}
    <div class="card border-0 bg-transparent">
        <div class="card-body">
            <h2 class="text-center">Login</h2>
            <form onsubmit="submit_form_login(this)" name="form_login">
                <div class="mb-3">
                    <label for="username" class="form-label text-muted">Username</label>
                    <input id="username" name="username" type="text" class="form-control" required/>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label text-muted">Password</label>
                    <input id="password" name="password" type="password" class="form-control mb-3" required/>
                </div>
                <div class="d-grid">
                    <button class="mb-3 btn btn-primary fw-bold" type="submit">LOGIN</button>
                    <p class="text-center fw-bold">OR</p>
                    <a class="mb-3 btn border bg-white text-primary fw-bold" href="/signup">
                        Create Account
                    </a>
                </div>
            </form>
        </div>
    </div>
    <script>
        function submit_form_login(form) {
            event.preventDefault()
            // disable inputs
            disable_form(form)
            //get data
            data = {
                'username': form.username.value.trim(),
                'password': form.password.value.trim()
            }
            //validate data
            is_valid = true
            invalid_fields = {}
            if (data['username'] === '') {
                is_valid = false;
                invalid_fields['username'] = 'Cannot be empty!';
            }
            if (data['password'] === '') {
                is_valid = false;
                invalid_fields['password'] = 'Cannot be empty!';
            }
            validate_form(form, invalid_fields)
            if (is_valid) {
                unvalidate_form(form)
                request.open('POST', '/api/login')
                request.setRequestHeader('Content-Type', 'application/json')
                request.responseType = 'json'
                request.onload = function () {
                    if (this.status >= 200 && this.status <= 400) {
                        if (this.response.result === true) {
                            form.reset()
                            location.reload()
                        } else {
                            show_alert(this.response.msg, 'warning')
                        }
                    } else {
                        show_alert('Server error', 'error')
                    }
                    enable_form(form)
                }
                request.send(JSON.stringify(data))
            } else {
                enable_form(form)
            }
        }
    </script>
{% endblock %}