{% extends 'base.html' %}
{% block content %}
    <style>
    body {
        background-color: #f8f9fa!important;
    }
    </style>
    <div class="row">
    <div class="col-md-6 mx-auto">
    <div class="card bg-light border-0">
        <div class="card-body">
        <form onsubmit="login(this)" name="login_form">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control mb-2" id="username" name="username" required/>
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control mb-2" id="password" name="password" required/>
            <div class="d-grid">
            <button id="login_btn" type="submit" class="btn btn-primary">LOGIN</button>
            </div>
        </form>
        </div>
    </div>
    </div>
    </div>

{% endblock %}

{% block foot %}
<script>
    //function submit_login_form to ajax
    function login(form) {
        event.preventDefault();
        form.login_btn.disabled = true;
        form.username.disabled = true;
        form.password.disabled = true;
        username = form.username.value
        password = form.password.value
        $.ajax({
            type: 'POST',
            url: '/api/login',
            data: {'username': username, 'password': password},
            dataType: 'json',
            success: function (response) {
                if (response.result == true) {
                    location.replace('/'+response.next)
                } else {
                    show_alert(response.msg, "error");
                }
            },
            complete: function () {
                form.login_btn.disabled = false;
                form.username.disabled = false;
                form.password.disabled = false;
            }
        });
    }
</script>
{% endblock %}