{% extends 'base.html' %}
{% block body %}
    <div class="d-flex justify-content-center position-absolute w-100 h-100">
        <div style="width: 500px" class="card bg-transparent border-0 mt-5">
            <div class="card-body">
                <h1 class="text-center mb-3">CRM</h1>
                <div class="mb-3">
                    <form onsubmit="submit_form_create_account(this)" name="form_create_account">
                        <div class="mb-3">
                            <label for="username" class="form-label text-muted">Username</label>
                            <input id="username" name="username" type="text" class="form-control" required/>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label text-muted">Password</label>
                            <input id="password" name="password" type="password" class="form-control" required/>
                        </div>
                        <div class="mb-3">
                            <label for="full_name" class="form-label text-muted">Full Name</label>
                            <input id="full_name" name="full_name" type="text" class="form-control" required/>
                        </div>
                        <div class="d-grid">
                            <button name="submit_button" id="submit_button" class="btn btn-primary fw-bold" type="submit">
                                CREATE
                            </button>
                        </div>
                    </form>
                </div>
                <p class="text-center">
                    <a class="btn text-primary" href="/login">
                        <span class="bi bi-chevron-left"></span> Login
                    </a>
                </p>
            </div>
        </div>
    </div>


    <script>

        function submit_form_create_account(form) {
            event.preventDefault()
            disable_form(form)
            // get form data
            data = {
                "username": form.username.value.trim(),
                "password": form.password.value.trim(),
                "full_name": form.full_name.value.trim()
            }
            // validate form data
            required_fields = ['username', 'password', 'full_name']
            is_valid = true
            empty_fields = {}
            for (i in required_fields) {
                field = required_fields[i]
                if (data[field] === '') {
                    is_valid = false
                    empty_fields[field] = 'Cannot be empty!'
                }
            }
            validate_form(form, empty_fields)
            if (is_valid) {
                // if form data is valid
                request.open('POST', '/api/signup', true)
                request.setRequestHeader('Content-Type', 'application/json')
                request.responseType = 'json'
                request.onload = function () {
                    if (this.status >= 200 && this.status <= 400) {
                        if (this.response.result == true) {
                            // if user created successfully
                            show_alert('user created successfully!', 'success')
                            unvalidate_form(form)
                            form.reset()
                        } else {
                            if ('invalid_fields' in this.response) {
                                validate_form(form, this.response.invalid_fields)
                            }
                            // if user not created
                            show_alert(this.response.msg, 'warning')
                        }
                    } else {
                        // if server error
                        show_alert("Server error", 'error')
                    }
                    enable_form(form)

                }
                request.send(JSON.stringify(data))
            } else {
                enable_form(form)
            }
        }

    </script>
{% endblock %}