{% set css = ['css/bootstrap.min.css', 'css/bootstrap-icons.css'] %}
{% set js = ['js/jquery-3.5.1.min.js','js/bootstrap.bundle.min.js','js/jquery-ui.min.js','js/custom.js'] %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% for item in css %}
        <link rel="stylesheet" href="{{ url_for('static', filename =item) }}"/>
    {% endfor %}
    {% for item in js %}
        <script src="{{ url_for('static', filename=item) }}"></script>
    {% endfor %}
    <title>Freelancer Admin {% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-xl">
        <a class="navbar-brand" href="/admin">ADMIN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if current_page == 'contacts' }}" href="/contacts">CONTACTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if current_page == 'motor_renewal' }}" href="/motor_insurance">MOTOR RENEWALS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if current_page == 'health_renewal' }}" href="/health_insurance">HEALTH RENEWALS</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">LOGOUT</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
<div class="container-xl">
    {% block content %}{% endblock %}
</div>

{% block foot %}{% endblock %}
</body>
</html>
