{% set current_page = 'contacts' %}
{% extends 'admin/base.html' %}
{% block content %}
    <nav aria-label="breadcrumb" class="my-3" style="--bs-breadcrumb-divider: '>';">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                    <li class="breadcrumb-item active text-capitalize" aria-current="page">Contacts</li>
                </ol>
            </nav>
    <div id="alert"></div>
    <h1 class="my-5">Contacts</h1>
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <div class="card bg-transparent border-0 mb-3 d-none d-md-block">
                <div class="card-body">
                    <h5 class="card-title text-center">RECENTLY ADDED</h5>
                    <div id="recent_person_list" class="list-group list-group-flush small">
                    {% for person in recent_added %}
                        <a class="text-capitalize list-group-item bg-transparent"
                           href="/crm/view_person/{{ person['_id'] }}">
                            <span class="">{{ person['name'] }}</span><br/>
                            <small class="text-muted">{{ functions.format_timestamp(person['created'], '%d-%m-%Y') }}</small>
                            </a>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-9">
            <div class="card bg-white position-relative">
                <div class="card-body sticky-top bg-white">
                    <div class="row">
                        <div class="col-lg-4 mb-3">
                            <div class="d-grid">
                                <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                        data-bs-target="#add_person_modal">NEW
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-8 mb-3">
                            <form onsubmit="submit_find_person(this)" name="find_person">
                                <div class="input-group mb-3">
                                    <span class="input-group-text border-secondary border-end-0 bg-light">
                                <label for="query" class="bi bi-search"></label>
                            </span>
                                    <input placeholder="Search by Name or Mobile Number" type="text"
                                           class="form-control bg-light border-secondary border-start-0"
                                           name="query"
                                           id="query" required/>
                                    <button type="submit" class="btn btn-outline-primary">FIND</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <p>
                        <button id="all_contacts_button" class="btn badge rounded-pill bg-primary text-white"
                                onclick="get_person_list()">
                            ALL <span id="all_contacts_count"></span>
                        </button>
                        <span style="display: none" id="result_contacts_badge"
                              class="fw-normal badge rounded-pill bg-light text-dark">
                            Result
                            "<span class="fw-bold" id="search_query_label"></span>"
                            (<span class="fw-bold" id="result_contact_count"></span>)
                        </span>
                    </p>
                </div>
                <div class="list-group list-group-flush border-0" id="person_list"></div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="add_person_modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ADD NEW CONTACT</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                     <form name="add_person_form" onsubmit="submit_add_person_form(this)">
                            <div class="row">
                                <div class="col-md-5">
                                    <select class="form-select mb-3" name="source_type" id="source_type">
                                        <option value="">Source Type</option>
                                        <option value="cold_call">Cold Call</option>
                                        <option value="reference">Reference</option>
                                        <option value="walkin">Walk In</option>
                                    </select>
                                </div>
                                <div class="col-md-7">
                                    <input placeholder="Source" type="text" name="source_data" id="source_data"
                                           class="form-control mb-3"/>
                                </div>
                            </div>
                            <label for="name" class="form-label col-lg-4">Name</label>
                            <input type="text" id="name" name="name" class="form-control mb-3" required/>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="number" class="form-label">Number</label>
                                </div>
                                <div class="col text-end">
                                    <button type="button" class="btn btn-light text-primary"
                                            onclick="add_number_list()">
                                        <span class="bi bi-plus"></span> ADD NUMBER
                                    </button>
                                </div>
                            </div>
                            <div id="number_list">
                                <input type="text" class="form-control mb-3" name="number[]" id="number" required/>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-lg btn-primary">SUBMIT</button>
                            </div>
                        </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block foot %}
    <script>
        //function to submit add person form
        function submit_add_person_form(form) {
            event.preventDefault()
            form_data = $(form).serialize()
            $("form :input").prop("disabled", true);
            $.ajax({
                url: '/api/add_person',
                data: form_data,
                type: 'POST',
                dataType: 'JSON',
                success: function (response) {
                    if (response.result == true) {
                        number_html = '<input type="text" class="form-control mb-2" name="number[]" id="number" required/>'
                        document.getElementById('number_list').innerHTML = number_html
                        $('#add_person_modal').modal('hide')
                        show_alert('Added Successfully!', 'success')
                        html = '<a class="text-capitalize bg-transparent list-group-item list-group-item-action" href="/crm/view_person/' + response.new_id.$oid + '">' +
                            form.name.value +
                            '</a>'
                        $(html).prependTo($('#recent_person_list')).hide().slideDown().effect('highlight')
                        form.reset()
                    } else {
                        show_alert('Error ' + response.msg, 'danger')
                    }
                },
                complete: function () {
                    $("form :input").prop("disabled", false);
                }
            })
        }

        //function to add number input in form
        function add_number_list() {
            number_element = '<div class="input-group mb-2">' +
                '<input type="text" class="form-control" name="number[]" id="number" required/>' +
                '<button class="btn btn-danger" onclick="remove_number_list(this)"><span class="bi bi-dash"></span> REMOVE</button>' +
                '</div>'
            $('#number_list').append(number_element)
        }

        //function to remove number input form
        function remove_number_list(e) {
            $(e).parent().remove()
        }

        //function to find person
        function get_person_list(query = null) {
            $.ajax({
                url: '/api/get_person_list',
                type: 'POST',
                data: {'query': query},
                dataType: 'JSON',
                success: function (response) {
                    if (response.result == true) {
                        persons = response.data
                        if (query == null) {
                            document.find_person.reset()
                            document.getElementById('all_contacts_button').className = 'btn badge rounded-pill bg-primary text-white'
                            document.getElementById('all_contacts_count').innerText = persons.length
                            $('#result_contacts_badge').fadeOut()
                        } else {
                            document.getElementById('all_contacts_button').className = 'btn badge rounded-pill bg-light text-primary'
                            document.getElementById('search_query_label').innerText = query
                            document.getElementById('result_contact_count').innerText = persons.length
                            $('#result_contacts_badge').fadeIn()
                        }
                        $('#person_list').html('')
                        for (i in persons) {
                            html = '<a class="text-capitalize d-flex align-items-center border-0 list-group-item list-group-item-action d-flex" href="/crm/view_person/' + persons[i]._id.$oid + '">' +
                                '<span class="bi bi-person-fill fs-1 me-2 my-auto align-self-stretch"></span>' +
                                '<span class=""> ' + persons[i].name + '<br/>' +
                                '<span class="text-muted">' + persons[i].numbers.join(', ') + '</span></span>' +
                                '</a>'
                            $('#person_list').append(html)
                        }
                    }
                }
            })
        }

        function submit_find_person(form) {
            event.preventDefault()
            query = form.query.value.trim()
            if (query == '') {
                show_alert('Search field cannot be empty!', 'warning')
            } else {
                get_person_list(query)
            }
        }

        $(document).ready(function () {
            get_person_list()
        });
    </script>
{% endblock %}