
<form name="followup_form" onsubmit="submit_followup_form(this)">
            <textarea placeholder="Remark" rows="4"
                      class="form-control border-light bg-light mb-3"
                      id="followup_remark"
                      name="followup_remark"></textarea>
    <div class="d-grid mb-3">
        <button type="submit" name="submit" class="btn btn-primary">FOLLOW</button>
    </div>
</form>

<div id="followup_list" class="list-group list-group-flush"></div>


<script>

    function get_followup_list(policy_id, type) {
        $('#followup_list').html('<div class="list-group-item text-center">Loading Followups ' + loading_html + '</div>')
        $.ajax({
            url: '/api/get_followup_list',
            data: {'policy_id': policy_id, 'type': type},
            type: 'POST',
            dataType: 'JSON',
            success: function (response) {
                if (response.result == true) {
                    $('#followup_list').html('')
                    for (i in followup_list) {
                        remark = followup_list[i].remark.replace(/\r\n|\n|\r/gm, '<br/>')
                        label_badges = ''
                        if (remark.includes('[whatsapp]')) {
                            label_badges += '<span class="badge bg-success">WhatsApp</span>'
                            remark = remark.replaceAll('[whatsapp]','')
                        }
                        followup_html = '<div style="border-radius: 10px" class="list-group-item bg-light mb-2 border-0 border-bottom border-3 fs-6">' +
                            '' +
                            '<p>'+label_badges+'' +
                            '<span class="text-muted small float-end"><span class="bi bi-clock"></span> ' + formatdate(followup_list[i].created.$date) + '</span>' +
                            '</p>' +
                            '<p>' + remark +'</p>' +
                            '</div>'
                        $(followup_html).prependTo($('#followup_list')).hide().slideDown()
                    }
                } else {
                    show_alert(response.msg, 'error')
                }
            }
        })

    }

    function submit_followup_form(form) {
        event.preventDefault()
        remark = form.followup_remark.value
        policy_status = 'followup'
        $(form).find(" :input").prop("disabled", true);
        $(form.submit).html(loading_html)
        $.ajax({
            url: '/api/post_policy_followup',
            data: {
                'policy_id': current_policy_id,
                'remark': remark,
                'policy_status': policy_status,
                'type': current_followup_type
            },
            type: 'POST',
            dataType: 'JSON',
            success: function (response) {
                if (response.result == true) {
                    remark = remark.replace(/\r\n|\n|\r/gm, '<br/>')
                    html = '<div style="border-radius: 10px" class="list-group-item mb-2 border-0 border-0 border-bottom border-3 fs-6" style="display: none">' +
                        '<small class="text-muted">NOW</small>' +
                        '<p>' + remark + '</p>' +
                        '</div>'
                    $(html).prependTo($('#followup_list')).slideDown().effect('highlight', function () {
                        $(this).addClass('bg-light')
                    })
                    form.reset()
                } else {
                    show_alert(response.msg, 'error', 'alert', 'toast')
                }
                $(form.submit).html('FOLLOW')
                $(form).find(" :input").prop("disabled", false);
            }
        })
    }
</script>