{% extends 'admin/base.html' %}
{% block content %}

    <h1>Dashboard</h1>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">MOTOR INSURANCE RENEWALS</h5>
                    <table class="table table-borderless">
                        <tr class="text-secondary"><td>NOT CONTACTED</td><th class="text-end">{{ motor_renewal_count['not_touch'] }}</th></tr>
                        <tr class="text-dark"><td>FOLLOWUP</td><th class="text-end">{{ motor_renewal_count['followup'] }}</th></tr>
                        <tr class="text-success"><td>WON</td><th class="text-end">{{ motor_renewal_count['won'] }}</th></tr>
                        <tr class="text-danger"><td>LOST</td><th class="text-end">{{ motor_renewal_count['lost'] }}</th></tr>
                        <tr class="fw-bold"><th>TOTAL</th><th class="text-end">{{ motor_renewal_count['total'] }}</th></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}