{% extends 'admin/base.html' %}
{% set policy_status_class= {'followup':'text-warning', 'lost':'text-danger', 'won':'text-success'} %}
{% block content %}
    <div class="bg-white sticky-top border-bottom mb-3  py-3">
        <div class="container-xl">
            <div class="d-flex justify-content-between">
                <h1 class="my-0 align-self-center text-capitalize ">Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="container-xl">
        <div class="row">
            <div class="col-md-9 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3>Insurance</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md mb-3">
                                <span class="fs-5 card-title">Expiring Today ({{ policy_list_expiry_today|count }})</span>
                                {% if policy_list_expiry_today | length == 0 %}
                                    Nothing Expiring Today
                                {% else %}
                                    <div class="list-group list-group-flush">
                                        {% for policy in policy_list_expiry_today %}
                                            <a href="/view_{{ policy['type'] }}_policy/{{ policy['_id'] }}"
                                               class="list-group-item list-group-item-action text-capitalize d-flex justify-content-between">
                                        <span>
                                            <span class="">{{ policy['name'] }}</span>

                                        </span>
                                                <span class="{{ policy_status_class[policy['policy_status']] }}">
                                            <small class="">{{ policy['type'] }}</small>
                                            <span class="bi bi-chevron-right align-self-center"></span>
                                        </span>
                                            </a>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md mb-3">
                                <div class="card-title fs-5">
                                    This Month Renewals ({{ motor_renewal_count['total'] }})
                                </div>
                                <div class="list-group list-group-flush">
                                    <div class="list-group-item d-flex justify-content-between">
                                        <span class="text-dark">
                                            NOT CONTACTED
                                        </span>
                                        <span class="fs-6 badge bg-white text-dark">
                                            {{ motor_renewal_count['not_touch'] }}
                                        </span>
                                    </div>
                                    <div class="list-group-item d-flex justify-content-between">
                                        <span class=" text-dark">
                                            FOLLOWUP
                                        </span>
                                        <span class="fs-6  badge bg-white text-warning">
                                            {{ motor_renewal_count['followup'] }}
                                        </span>
                                    </div>
                                    <div class="list-group-item d-flex justify-content-between">
                                        <span class="text-dark">
                                            WON
                                        </span>
                                        <span class="fs-6  badge  bg-white text-success">
                                            {{ motor_renewal_count['won'] }}
                                        </span>
                                    </div>
                                    <div class="list-group-item d-flex justify-content-between ">
                                        <span class="text-dark ">
                                            LOST
                                        </span>
                                        <span class="fs-6 badge bg-white text-danger">
                                            {{ motor_renewal_count['lost'] }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-header">Manage Company</div>
                    <div class="list-group list-group-flush">
                        <a href="/manage_motor_insurance_companies"
                           class="align-items-center d-flex justify-content-between list-group-item bg-transparent">
                            <span>Insurance</span>
                            <span class="bi bi-chevron-right"></span>
                        </a>
                        <a href="/manage_vehicles"
                           class="align-items-center d-flex justify-content-between list-group-item bg-transparent">
                            <span>Vehicles</span>
                            <span class="bi bi-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}