{% extends 'admin/base.html' %}
{% block content %}
    <h1 class="my-3 text-capitalize">{{ current_policy_type }} Insurance Renewals</h1>
    <div id="alert"></div>
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-light border-0 mb-3">
                <div id="renewal_list_period" class="card-header border-0 bg-transparent text-center align-middle">
                    <label class="fw-bold" id="current_period"></label>
                    <button onclick="prev_renewal_month()" class="float-start btn"><span
                            class="bi-caret-left"></span></button>
                    <button onclick="next_renewal_month()" class="float-end btn"><span
                            class="bi-caret-right"></span></button>
                </div>
                <div style="max-height: 70vh;" id="policy_list" class="overflow-auto list-group list-group-flush"></div>
            </div>
        </div>
        <div class="col-md-9 mb-3">
            {% include 'admin/renewal_card.html' %}
        </div>
    </div>

{% endblock %}
