{% extends 'admin/base.html' %}
{% block content %}
    <div class="bg-white sticky-top border-bottom mb-3  py-3">
        <div class="container-xl">
            <a href="/manage_vehicles" class="fw-bold text-decoration-none text-primary">
                <span class="bi bi-chevron-left"></span> Vehicle Company
            </a>
            <div class="d-flex justify-content-between">
                <h1 class="my-0 align-self-center text-capitalize ">{{ vehicle.db_data['company_name'] }}</h1>
                <button class="btn btn-danger align-self-center px-md-3 fw-bold" onclick="delete_vehicle_company()">
                    DELETE COMPANY
                </button>
            </div>
        </div>
    </div>
    <div class="container-xl">
        <div id="alert"></div>
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card-body">
                    <div class="d-flex justify-content-between ">
                        <button class="align-self-center btn btn-primary fw-bold" data-bs-toggle="modal" data-bs-target="#modal_add_vehicle_model">ADD MODEL</button>
                        <span class="align-self-center fs-5 text-muted">
                            All Models <span id="model_count">({{ vehicle.models|count }})</span>
                        </span>
                    </div>
                </div>
                <div class="card">
                    <div id="list_group_vehicles_models" class="list-group list-group-flush">
                        {% for model in vehicle.models %}
                            <div class="list-group-item d-flex justify-content-between ">
                                <span class="align-self-center text-capitalize">{{ model['name'] }}</span>
                                <button onclick="delete_vehicle_model('{{ model['name'] }}')"
                                        class="btn btn-sm align-self-center fw-bold text-danger">
                                    Remove
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="modal_add_vehicle_model">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="exampleModalLabel">New Vehicle Model</h5>
                    <button type="button" class="btn btn-lg text-white" data-bs-dismiss="modal" aria-label="Close">
                        <span class="bi bi-x"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="alert"></div>
                    <form name="form_add_vehicle_model" onsubmit="submit_form_add_vehicle_model(this)">
                        <label for="model_name" class="form-label">Model Name</label>
                        <input placeholder="Vehicle Model Name" type="text" class="form-control mb-3" name="model_name" id="model_name" required/>
                        <div class="text-center mt-5">
                            <button type="submit" class="px-5 btn btn-lg btn-primary">SUBMIT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        var company_name = '{{ vehicle.db_data['company_name'] }}'
        var company_id = '{{ vehicle.db_data['_id'] }}'

        function submit_form_add_vehicle_model(form) {
            event.preventDefault()
            model_name = form.model_name.value
            $.ajax({
                url: '/api/add_vehicle_model',
                data: {'company_id': company_id, 'model_name': model_name},
                type: 'POST',
                dataType: 'JSON',
                success: function (response) {
                    if (response.result === true) {
                        form.reset()
                        count = Number(document.getElementById("model_count").innerText)
                        document.getElementById("model_count").innerText = count+1
                        show_alert('Model Successfully added.', 'success')
                        location.reload()
                    } else {
                        alert(response.msg)
                    }
                }
            })
        }


        function delete_vehicle_model(model_name) {
            if (confirm("Delete this Model ?")) {
                $.ajax({
                    url: '/api/delete_vehicle_model',
                    data: {'company_id': company_id, 'model_name': model_name},
                    type: 'POST',
                    dataType: 'JSON',
                    success: function (response) {
                        if (response.result === true) {
                            count = Number(document.getElementById("model_count").innerText)
                            document.getElementById("model_count").innerText = count-1
                            show_alert('Model Successfully deleted.', 'success')
                            location.reload()
                        } else {
                            alert(response.msg)
                        }
                    }
                })
            }
        }

        function delete_vehicle_company() {
            if (confirm("This will delete ALL DATA of this company ?")) {
                $.ajax({
                    url: '/api/delete_vehicle_company',
                    data: {'company_id': company_id},
                    type: 'POST',
                    dataType: 'JSON',
                    success: function (response) {
                        if (response.result === true) {
                            show_alert('Company Successfully deleted.', 'success')
                            location.href = '/manage_vehicles'
                        } else {
                            alert(response.msg)
                        }
                    }
                })
            }
        }


    </script>

{% endblock %}