{% extends 'admin/base.html' %}
{% set policy_status_class= {'followup':'bg-warning', 'lost':'bg-danger', 'won':'bg-success'} %}
{% block content %}
    <div class="bg-white sticky-top border-bottom mb-3  py-3">
        <div class="container-xl">
            <div class="d-flex justify-content-between">
                <h1 class="my-0 align-self-center text-capitalize ">Insurance Company</h1>
                <button class="btn btn-primary px-md-3 fw-bold" type="button" data-bs-toggle="modal"
                            data-bs-target="#add_company_modal">
                        ADD COMPANY
                    </button>
            </div>
        </div>
    </div>
    <div class="container-xl">
        <div id="alert"></div>
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card">
            <div class="card-body d-flex justify-content-between">
                    <span class="fs-5 text-muted">All Companies (<span id="company_count">{{ company_list.count() }}</span>)</span>
                </div>
                 <div id="company_list" class="list-group list-group-flush">
                    {% for company in company_list %}
                        <div class="list-group-item d-flex justify-content-between">
                            <span class="align-self-center text-capitalize">{{ company['company_name'] }}</span>
                            <button data-id="{{ company['_id'] }}" class="align-self-center btn text-danger fw-bold" onclick="delete_company(this)">
                                Remove
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    </div>

    <div class="modal fade" id="add_company_modal">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="exampleModalLabel">New Insurance Company</h5>
                    <button type="button" class="btn btn-lg text-white" data-bs-dismiss="modal" aria-label="Close">
                        <span class="bi bi-x"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="add_company_form" onsubmit="submit_add_company_form(this)">
                        <label class="form-label">Company Name</label>
                        <input placeholder="Insurance company name" name="company_name" type="text" class="form-control mb-3" required/>
                        <div class="text-center mt-5">
                            <button type="submit" class="px-5 btn btn-lg btn-primary">SUBMIT</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script>
        function submit_add_company_form(form) {
            event.preventDefault()
            $("form :input").prop("disabled", true);
            company_name = form.company_name.value
            $.ajax({
                url: "/api/add_motor_insurance_company",
                data: {"company_name": company_name},
                dataType: "json",
                type: "POST",
                success: function (response) {
                    if (response.result == true) {
                        $("#company_list").prepend("<div class='new list-group-item d-flex justify-content-between'>" +
                            "<span>" + company_name + "</span>" +
                            '<button data-id="' + response.new_id.$oid + '" class="btn fw-bold" onclick="delete_company(this)"><span class="bi bi-dash-circle-fill text-danger"></span></button>' +
                            "</div>")
                        show_alert('Company added successfully.', 'success')
                        form.reset()
                        count = Number(document.getElementById("company_count").innerText)
                        document.getElementById("company_count").innerText = count+1
                        $('#add_company_modal').modal('hide')
                        $(".new").effect("highlight").removeClass('new')
                    } else {
                        show_alert(response.msg, 'error')
                    }
                },
                complete: function () {
                    $("form :input").prop("disabled", false);
                }
            })
        }

        function delete_company(e) {
            if (confirm('Do you want to delete this company ?')) {
                company_id = e.getAttribute("data-id")
                $.ajax({
                    url: "/api/delete_motor_insurance_company",
                    data: {"company_id": company_id},
                    dataType: "json",
                    type: "POST",
                    success: function (response) {
                        if (response.result == true) {
                            count = Number(document.getElementById("company_count").innerText)
                        document.getElementById("company_count").innerText = count-1
                            $(e).parent().remove()
                        } else {
                            show_alert(response.msg, 'error')
                        }
                    }
                })
            }
        }
    </script>
{% endblock %}