{% extends 'admin/base.html' %}
{% block content %}
    <h1 class="my-3">Renewals</h1>
    <div id="alert"></div>
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-white border-1 mb-3">
                <div id="renewal_list_period" class="card-header border-0 bg-transparent text-center align-middle">
                    <label class="fw-bold" id="current_period"></label>
                     <button onclick="prev_renewal_month()" class="float-start btn"><span
                            class="bi-caret-left"></span></button>
                    <button onclick="next_renewal_month()" class="float-end btn"><span
                            class="bi-caret-right"></span></button>
                </div>
                <div style="max-height: 70vh;" id="policy_list" class="overflow-auto list-group list-group-flush"></div>
            </div>
        </div>
        <div class="col-md-9 mb-3">
            <div id="renewal_card" class="card" style="display: none">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h3 class="text-capitalize" id="name"></h3>
                        </div>
                        <div class="col">
                            <p class="text-end fs-5">
                                <span class="bi bi-phone-fill"></span> <span id="numbers"></span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 mb-3">
                            <div class="text-uppercase fs-6">
                                <div class="mb-3">
                                    <div id="registration_number" class="fs-5 mb-2"></div>
                                    <table class="table table-borderless table-striped table-sm small">
                                        <tbody>
                                        <tr>
                                            <td class="text-muted">Registration Name</td>
                                            <td id="registration_name"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Vehicle Company</td>
                                            <td id="vehicle_company"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Model</td>
                                            <td id="vehicle_model"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">CC</td>
                                            <td id="vehicle_cc"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Fuel Type</td>
                                            <td id="fuel"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Registration Date</td>
                                            <td id="registration_date"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Manufacture Year</td>
                                            <td id="vehicle_mfg_year"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="mb-3">
                                    <div class="row mb-2">
                                        <div class="col-8">
                                            <span id="policy_number" class="fs-5"></span>
                                        </div>
                                        <div class="col-4 text-end">
                                            <small id="own_business" class="badge rounded-pill bg-success"></small>
                                            <div class="btn-group" role="group">
                                                <button id="previous_policy_btn" class="btn btn-light text-dark"
                                                        onclick="view_renewal(this.value)">
                                                    <span class="bi bi-caret-left"></span>
                                                </button>
                                                <button id="next_policy_btn" class="btn btn-light text-dark"
                                                        onclick="view_renewal(this.value)">
                                                    <span class="bi bi-caret-right"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-borderless table-striped table-sm small">
                                        <tbody>
                                        <tr>
                                            <td class="text-muted">Policy Company</td>
                                            <td id="policy_company"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Expiry Date</td>
                                            <td id="expiry_date"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Policy Type</td>
                                            <td id="policy_type"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Premium</td>
                                            <td id="premium"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">IDV</td>
                                            <td id="idv"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">NCB %</td>
                                            <td id="ncb"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Addon Cover</td>
                                            <td id="addon_cover"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="card border-0 mb-3">
                                <div class="card-body">
                                    <div class="d-grid mb-3">
                                        <button id="renewal_done_btn" class="btn btn-primary" value="" onclick="renewal_done(this.value)"
                                                disabled>DONE
                                        </button>
                                    </div>
                                    <form name="followup_form" onsubmit="submit_followup_form(this)">
                                    <textarea placeholder="Remark" rows="4"
                                              class="bg-light border-1 border-bottom-0 border-end-0 form-control mb-3"
                                              id="followup_remark"
                                              name="followup_remark"></textarea>
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-light text-primary">FOLLOW</button>
                                        </div>
                                    </form>
                                </div>
                                <div id="followup_list" class="overflow-auto list-group list-group-flush">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="add_renewal_policy_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>ADD RENEWAL POLICY</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name="add_renewal_policy_form" onsubmit="submit_add_renewal_policy_form(this)">
                        <div class="form-check mb-2">
                            <input class="form-check-input" name="own_business" type="checkbox" value="True"
                                   id="own_business">
                            <label class="form-check-label" for="own_business">
                                Own Business
                            </label>
                        </div>
                        <label class="form-label" for="policy_number">New Policy Number</label>
                        <input type="text" class="form-control mb-2" name="policy_number" id="policy_number"/>
                        <label for="expiry_date" class="form-label">Expiry Date</label>
                        <input type="date" class="form-control mb-2" name="expiry_date" id="expiry_date" required/>
                        <label for="policy_type" class="form-label">Policy Type</label>
                        <select class="form-control mb-2" name="policy_type" id="policy_type">
                            <option value="" selected>Select Type</option>
                            <option value="od_tp">Normal (OD+TP)</option>
                            <option value="tp">Third Party Only</option>
                            <option value="tentative">Tentative</option>
                            <option value="od">Own Damange Only</option>
                        </select>
                        <div class="form-check mb-2">
                            <input class="form-check-input" name="o_dap" type="checkbox" value="True" id="o_dap">
                            <label class="form-check-label" for="o_dap">
                                0 DAP Cover
                            </label>
                        </div>
                        <label for="company" class="form-label">Company</label>
                        <input type="text" class="form-control mb-2" name="company" id="company"/>
                        <label for="idv" class="form-label">IDV</label>
                        <input type="text" class="form-control mb-2" name="idv" id="idv"/>
                        <label for="ncb" class="form-label">NCB %</label>
                        <select class="form-control mb-2" name="ncb" id="ncb">
                            <option value="" selected>SELECT</option>
                            <option value="0">0%</option>
                            <option value="20">20%</option>
                            <option value="25">25%</option>
                            <option value="35">35%</option>
                            <option value="45">45%</option>
                            <option value="50">50%</option>
                        </select>
                        <label for="premium" class="form-label">Premium</label>
                        <input type="text" class="form-control mb-2" name="premium" id="premium"/>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">SUBMIT</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block foot %}
    <script>
        var loading_html = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>'
        var current_policy_id = '{{ policy_id }}'
        var current_person_id = ''
        var current_registration_id = ''
        var monthNames = [null, "January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];
        var now = new Date()
        var current_month = now.getMonth() + 1
        var current_year = now.getFullYear()
        var fields = ['policy_number', 'policy_company', 'policy_type',
            'idv', 'ncb', 'discount', 'premium',
            'registration_number', 'vehicle_company', 'vehicle_model',
            , 'vehicle_cc', 'vehicle_year']

        var policy_type = {
            'od_tp': 'Normal (OD+TP)',
            'tp': 'Third Party Only',
            'od': 'Own Damage Only',
            'tentative': 'Tentative'
        }


        function view_renewal(_id, e) {
            $('#policy_list button').prop('disabled', true)
            $(e).find(".loading").fadeIn()
            $.ajax({
                url: '/api/view_renewal/'+_id,
                type: 'POST',
                dataType: 'JSON',
                success: function (response) {
                    if (response.result == false) {
                        show_alert(response.msg, 'error')
                    }
                    else {
                        policy = response.data.policy
                        registration = response.data.registration
                        person = response.data.person
                        renewal_policy = response.data.renewal_policy
                        old_policy = response.data.old_policy
                        followup_list = response.data.followup_list

                        registration.vehicle_company = registration.company
                        registration.vehicle_model= registration.model
                        registration.vehicle_mfg_year = registration.mfg
                        registration.vehicle_cc = registration.cc
                        if (registration.registration_date != null) {
                            registration.registration_date = formatdate(registration.registration_date.$date)
                        }

                        policy.policy_company = policy.company
                        if (policy.expiry_date != null) {
                            policy.expiry_date = formatdate(policy.expiry_date.$date)
                        }
                        current_policy_id = policy._id.$oid
                        current_person_id = person._id.$oid
                        current_registration_id = registration._id.$oid
                        person.numbers = person.numbers.join(', ')
                        $('#policy_list button').removeClass('active')
                        $(e).addClass('active')
                        for (i of ['registration_name', 'registration_number', 'registration_date',
                            'vehicle_company', 'vehicle_model', 'vehicle_cc', 'fuel', 'vehicle_mfg_year']) {
                            document.getElementById(i).innerText = registration[i]
                        }
                        for (i of ['policy_number', 'policy_company', 'premium', 'idv', 'ncb', 'expiry_date']) {
                            document.getElementById(i).innerText = policy[i]
                        }
                        document.getElementById('policy_type').innerHTML =policy_type[policy.policy_type]
                        document.getElementById('own_business').innerHTML =(policy['own_business'] === true)? 'OWNED' : ''
                        document.getElementById('addon_cover').innerHTML = ''
                        for (cover of ['o_dap']) {
                            if (policy[cover] === true) {
                                document.getElementById('addon_cover').innerHTML += '<span class="badge bg-primary">' + cover + '</span>'
                            }
                        }
                        document.getElementById('name').innerHTML = '<a style="text-decoration: none" href="/crm/view_person/' + person._id.$oid + '">' + person.name + '</a>'
                        for (i of ['numbers']) {
                            document.getElementById(i).innerText = person[i]
                        }

                        if (old_policy == null) {
                            document.getElementById('previous_policy_btn').disabled = true
                            document.getElementById('previous_policy_btn').value = null
                        } else {
                            document.getElementById('previous_policy_btn').disabled = false
                            document.getElementById('previous_policy_btn').value = old_policy._id.$oid
                        }

                        if (renewal_policy == null) {
                            document.getElementById('next_policy_btn').disabled = true
                            document.getElementById('next_policy_btn').value = null
                            document.getElementById('renewal_done_btn').disabled = false
                            document.getElementById('renewal_done_btn').className = "btn btn-primary"
                        } else {
                            document.getElementById('next_policy_btn').disabled = false
                            document.getElementById('next_policy_btn').value = renewal_policy._id.$oid
                            document.getElementById('renewal_done_btn').disabled = true
                            document.getElementById('renewal_done_btn').className = "btn btn-success"
                        }

                        $('#followup_list').html('')
                        for (i in followup_list) {
                            followup_html = '<div class="list-group-item bg-light mb-2 border-0 fs-6">' +
                                '<small class="text-muted">' + formatdate(followup_list[i].created.$date) + '</small>' +
                                '<p>' + followup_list[i].remark + '</p>' +
                                '</div>'
                            $('#followup_list').prepend(followup_html)
                        }
                        $('#renewal_card').fadeIn()
                    }
                    $('#policy_list button').prop('disabled', false)
                    $(e).find(".loading").fadeOut()
                }
            })
        }

        function renewal_done() {
            $('#add_renewal_policy_modal').modal('show')
        }

        function submit_followup_form(form) {
            event.preventDefault()
            remark = form.followup_remark.value
            policy_status = 'followup'
            $.ajax({
                url: '/api/post_policy_followup',
                data: {
                    'policy_id': current_policy_id,
                    'remark': remark,
                    'policy_status': policy_status
                },
                type: 'POST',
                dataType: 'JSON',
                success: function (response) {
                    if (response.result == true) {
                        show_alert('Remark added successfully!', 'success')
                        html = '<div class="list-group-item new" style="display: none">' +
                            '<small class="text-muted">NOW</small>' +
                            '<p>' + form.followup_remark.value + '</p>' +
                            '</div>'
                        $(html).prependTo($('#followup_list')).slideDown()
                        form.reset()
                    } else {
                        show_alert(response.msg, 'error')
                    }
                }
            })
        }

        function next_renewal_month() {
            if (current_month == 12) {
                current_month = 1
                current_year += 1
            } else {
                current_month += 1
            }
            update_renewal_list(current_month, current_year)
        }

        function prev_renewal_month() {
            if (current_month == 1) {
                current_month = 12
                current_year -= 1
            } else {
                current_month -= 1
            }
            update_renewal_list(current_month, current_year)
        }

        function update_renewal_list(month, year) {
            renewal_list_period = document.getElementById('renewal_list_period')
            $(renewal_list_period).find('button').prop('disabled', true)
            current_period = document.getElementById('current_period')
            current_period.innerHTML = loading_html
            $.ajax({
                url: '/api/get_renewal_list',
                data: {'month': month, 'year': year},
                type: 'POST',
                dataType: 'JSON',
                success: function (response) {
                    current_period.innerHTML = '<span class="bi bi-calendar"></span> ' + monthNames[current_month] + ' ' + current_year
                    $('#policy_list').html('')
                    for (i in response) {
                        policy_status_class = ''
                        if (response[i].policy_status == 'followup') {
                            policy_status_class = 'list-group-item-warning'
                        }
                        if (response[i].policy_status == 'renewed') {
                            policy_status_class = (response[i].renewal_business == true) ? 'list-group-item-success' : 'list-group-item-danger'
                        }
                        if (response[i].policy_status == 'lost') {
                            policy_status_class = 'list-group-item-danger'
                        }
                        html = '<button class="btn rounded-0 ' + policy_status_class + ' text-capitalize list-group-item list-group-item-action border-0" onclick="view_renewal(\'' + response[i]._id.$oid + '\', this)">' +
                            response[i].name +
                            ' <span style="display: none" class="loading spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>' +
                            '<small class="float-end">' +
                            response[i].day +
                            '</small></button>'
                        $('#policy_list').append(html)
                    }
                    $(renewal_list_period).find('button').prop('disabled', false)
                }
            })
        }

        function submit_add_renewal_policy_form(form) {
            event.preventDefault()
            data = $(form).serializeArray()
            data.push({'name': 'policy_id', 'value': current_policy_id})
            data.push({'name': 'remark', 'value': document.followup_form.followup_remark.value})
            $.ajax({
                url: '/api/add_renewal_motor_policy',
                data: data,
                type: 'POST',
                dataType: 'JSON',
                success: function (response) {
                    if (response.result == true) {
                        show_alert('New Policy Successfully added.', 'success')
                        location.reload()
                    } else {
                        alert(response.msg)
                    }
                }
            })
        }

        $(document).ready(function () {
            if (current_policy_id != 'None') {
                view_renewal(current_policy_id)
            }
            update_renewal_list(current_month, current_year)

        })
    </script>
{% endblock %}
