{% set current_page = 'motor_insurance' %}
{% extends 'admin/base.html' %}
{% set policy_status_class= {'followup':'bg-warning', 'lost':'bg-danger', 'won':'bg-success'} %}
{% block content %}
    <div class="bg-white sticky-top border-bottom mb-3  py-3">
        <div class="container-xl">
            <div class="d-flex justify-content-between">
                <h1 class="my-0 align-self-center text-capitalize ">Motor Insurance</h1>
            </div>
        </div>
    </div>
    <div class="container-xl">
        <div id="alert"></div>
        <div class="d-flex flex-lg-row flex-column">
            <nav class="mx-3 nav nav-pills flex-column">
                    <a href="/motor_insurance" class="nav-link active">Dashboard</a>
                    <a href="/motor_insurance_renewals" class="nav-link">Insurance Renewals</a>
                    <a href="/manage_motor_insurance_companies" class="nav-link">Manage Companies</a>
                </nav>
            <div class="flex-grow-1">
                <h2 class="my-3">Dashbaord</h2>
                <div class="card mb-3">
                    <div class="card-header text-center">{{ current_period }} Performance</div>
                    <div class="card-body">
                        <div class="progress">
                            <div class="progress-bar bg-success"
                                 style="width: {{ renewal_count['won']/renewal_count['total']*100 }}%"></div>
                            <div class="progress-bar bg-warning"
                                 style="width: {{ renewal_count['followup']/renewal_count['total']*100 }}%"></div>
                            <div class="progress-bar bg-danger"
                                 style="width: {{ renewal_count['lost']/renewal_count['total']*100 }}%"></div>
                        </div>
                    </div>
                    <div class="list-group list-group-flush small">
                        <div class="list-group-item d-flex justify-content-between text-secondary">
                            <span>NOT CONTACTED</span>
                            <span>{{ renewal_count['not_touch'] }}</span>
                        </div>
                        <div class="list-group-item d-flex justify-content-between text-warning">
                            <span>FOLLOWUP</span>
                            <span>{{ renewal_count['followup'] }}</span>
                        </div>
                        <div class="list-group-item d-flex justify-content-between text-success">
                            <span>WON</span>
                            <span>{{ renewal_count['won'] }}</span>
                        </div>
                        <div class="list-group-item d-flex justify-content-between text-danger">
                            <span>LOST</span>
                            <span>{{ renewal_count['lost'] }}</span>
                        </div>
                        <div class="list-group-item d-flex justify-content-between text-dark">
                            <span>TOTAL</span>
                            <span>{{ renewal_count['total'] }}</span>
                        </div>
                    </div>
                </div>
                <form onsubmit="submit_find_policy(this)" name="find_policy">
                    <div class="input-group mb-3 bg-white">
                        <button id="search_dropdown_btn"
                                class="text-capitalize input-group-text bg-white  dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Policy Number
                        </button>
                        <div id="search_dropdown_menu" class="dropdown-menu">
                            <button type="button" onclick="select_search_filter(this, 'policy_number');"
                                    class="dropdown-item active">Policy Number
                            </button>
                            <button type="button" onclick="select_search_filter(this, 'reg_number');"
                                    class="dropdown-item">
                                Registration Number
                            </button>
                        </div>
                        <input placeholder="Search Policy" type="text"
                               class="form-control border-start-0"
                               name="query"
                               id="query" required/>
                        <button type="submit" class="btn btn-light border-secondary text-secondary"><label for="query"
                                                                                                           class="bi bi-search"></label>
                            FIND
                        </button>
                    </div>
                </form>
                <div style="display: none" id="search_result_card">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h6 class="align-self-center my-auto">Search Result</h6>
                                <button onclick="hide_search_result()" class="align-self-center btn text-primary">Hide
                                </button>
                            </div>
                            <div id="search_result_list"></div>
                        </div>
                    </div>
                </div>
                <div id="main_card"></div>
            </div>
        </div>
    </div>


    <script>
        var search_filter = 'policy_number'

        function select_search_filter(e, value) {
            search_filter = value
            $("#search_dropdown_menu button").removeClass("active")
            $(e).addClass('active')
            $("#search_dropdown_btn").text(e.innerText)
        }


        function submit_find_policy(form) {
            event.preventDefault()
            query = form.query.value.trim()
            if (query == '') {
                show_alert('Search field cannot be empty!', 'warning')
            } else {
                $("#main_card").slideUp('fast')
                $("#search_result_card").slideUp('fast', function () {
                    $.ajax({
                            url: '/api/find_motor_policy',
                            type: 'POST',
                            data: {'query': query, 'search_filter': search_filter},
                            dataType: 'JSON',
                            success: function (response) {
                                if (response.result == true) {
                                    policy_list = response.data
                                    console.log(policy_list)
                                    if (policy_list.length > 0) {
                                        search_result_html = '<table class="table">' +
                                            '<thead><tr><th>Name</th><th>Policy Number</th><th>Expiry Date</th></tr></thead>' +
                                            '<tbody>'
                                        for (i in policy_list) {
                                            search_result_html += '<tr><td class="text-capitalize">' + policy_list[i].name + '<td><a href="/view_motor_policy/' + policy_list[i].policy_id.$oid + '" class="">' + policy_list[i].policy_number + '</a></td>' +
                                                '</td><td>' + formatdate(policy_list[i].expiry_date.$date) + '</td></tr>'
                                        }
                                        search_result_html += '</tbody></table>'
                                        $("#search_result_list").html(search_result_html)
                                    } else {
                                        $("#search_result_list").html('<div>No result found</div>')
                                    }
                                    $("#search_result_card").slideDown()
                                }
                            }
                        }
                    )
                })

            }
        }

        function hide_search_result() {
            $("#search_result_card").slideUp('fast', function () {
                $("#main_card").slideDown('fast')
            })
        }
    </script>
{% endblock %}