{% extends 'admin/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-3">
            <h1 class="text-capitalize">
                {{ person['name'] }}
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-header"><span class="bi-phone"></span> MOBILE NUMBER</div>
                <ul id="contact_number_list" class="list-group list-group-flush">
                    {% for number in person['numbers'] %}
                        <li class="list-group-item">
                            {{ number }}
                            <button onclick="remove_contact_number(this, '{{ number }}')" class="float-end btn ">
                                <span class="bi bi-dash-circle-fill text-danger"></span>
                            </button>
                        </li>
                    {% endfor %}
                </ul>
                <div class="d-grid">
                    <button data-bs-toggle="collapse" data-bs-target="#add_contact_number_collapse"
                            class="btn text-primary">
                        <span class="bi-plus-circle-fill"></span> ADD NUMBER
                    </button>
                </div>
                <div class="card-body collapse" id="add_contact_number_collapse">
                    <form name="add_contact_number_form" onsubmit="submit_add_contact_number_form(this)">
                        <div class="row">
                            <div class="col-lg-8">
                                <input name="number" placeholder="Number" class="mb-2 form-control form-control-sm"
                                       type="text" required/>
                            </div>
                            <div class="col-lg-4">
                                <div class="d-grid">
                                    <button type="submit" class=" btn btn-primary btn-sm">
                                        SAVE
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header"><span class="bi-mailbox"></span> EMAIL</div>
                <ul id="email_list" class="list-group list-group-flush">
                    {% for email in person['emails'] %}
                        <li class="list-group-item">{{ email }}
                            <button onclick="remove_email(this, '{{ email }}')" class="float-end btn ">
                                <span class="bi bi-dash-circle-fill text-danger"></span>
                            </button>
                        </li>
                    {% endfor %}
                </ul>
                <div class="d-grid">
                    <button data-bs-toggle="collapse" data-bs-target="#add_email_collapse"
                            class="btn text-primary">
                        <span class="bi-plus-circle-fill"></span> ADD EMAIL
                    </button>
                </div>
                <div id="add_email_collapse" class="collapse card-body">
                    <form name="add_email_form" onsubmit="submit_add_email_form(this)">
                        <div class="row">
                            <div class="col-lg-8">
                                <input name="email" placeholder="Email" class="mb-2 form-control form-control-sm"
                                       type="text" required/>
                            </div>
                            <div class="col-lg-4">
                                <div class="d-grid">
                                    <button type="submit" class=" btn btn-primary btn-sm">
                                        SAVE
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <p class="text-center">
                <button class="btn btn-danger" onclick="delete_person()">
                    DELETE PERSON
                </button>
            </p>
        </div>
        <div class="col-md-8">
            <p>
                <button data-bs-toggle="modal" data-bs-target="#add_vehicle_modal" class="btn btn-primary">
                    NEW VEHICLE
                </button>
            </p>
            {% for vehicle in person['vehicles'] %}
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row mb-3">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase">
                                            {{ vehicle['registration_number'] }}
                                        </h5>
                                    </div>
                                    <div class="col text-end">
                                        <button class="btn btn-sm btn-light text-primary"
                                                onclick="view_vehicle('{{ vehicle['_id'] }}')">
                                            EDIT
                                        </button>
                                    </div>
                                </div>

                                <table class="text-uppercase small table table-borderless table-sm">
                                    <tr>
                                        <td class="text-muted">Company and Model</td>
                                        <td>
                                            {{ vehicle['company'] }} - {{ vehicle['model'] }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">Registration Name</td>
                                        <td>{{ vehicle['registration_name'] }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">Registration Date</td>
                                        <td>{{ vehicle['registration_date'] }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">MFG Year</td>
                                        <td>{{ vehicle['mfg'] }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">CC</td>
                                        <td>{{ vehicle['cc'] }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">Fuel Type</td>
                                        <td>{{ vehicle['fuel'] }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-lg-6">
                                <div class="row mb-3">
                                    <div class="col">
                                        <span class="fs-5">Policy</span>
                                    </div>
                                    <div class="col text-end">
                                        <button class="btn btn-sm btn-light text-primary"
                                                onclick="add_vehicle_policy('{{ vehicle['registration_number'] }}', '{{ vehicle['_id'] }}')">
                                            ADD
                                        </button>
                                    </div>
                                </div>
                                <table class="table table-hover table-sm table-borderless">
                                    {% for policy in vehicle['policy_list'] %}
                                        <tr>
                                            <td>
                                                <small class="text-muted">
                                                    {{ policy['expiry_date'] }}
                                                </small>
                                            </td>
                                            <td>
                                                <a class="text-decoration-none" href="/view_policy/{{ policy['_id'] }}">
                                                    {{ policy['policy_number'] }}
                                                </a>
                                            </td>
                                            <td>
                                                <button onclick="view_vehicle_policy('{{ policy['_id'] }}')"
                                                        class="btn-sm btn text-primary float-end">
                                                    <small>EDIT</small>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="add_vehicle_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ADD VEHICLE</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form onsubmit="submit_add_vehicle_form(this)" name="add_vehicle_form">
                        <label for="registration_number" class="form-label">Registraion Number</label>
                        <input type="text" id="registration_number" name="registration_number" class="form-control mb-2"
                               required/>
                        <label for="registration_name" class="form-label">Registration Name</label>
                        <input type="text" id="registration_name" name="registration_name" class="form-control mb-2"/>
                        <label for="registration_date" class="form-label">Registration Date</label>
                        <input type="date" id="registration_date" name="registration_date" class="form-control mb-2"/>
                        <label for="company" class="form-label">Company</label>
                        <input type="text" id="company" name="company" class="form-control mb-2"/>
                        <label for="model" class="form-label">Model</label>
                        <input type="text" id="model" name="model" class="form-control mb-2"/>
                        <label for="cc" class="form-label">CC</label>
                        <input type="text" id="cc" name="cc" class="form-control mb-2"/>
                        <label for="fuel" class="form-label">Fuel Type</label>
                        <select class="form-control mb-2" name="fuel" id="fuel">
                            <option value="">Select Fuel Type</option>
                            <option value="petrol">Petrol</option>
                            <option value="diesel">Diesel</option>
                        </select>
                        <label for="mfg" class="form-label">MFG Year</label>
                        <input type="text" id="mfg" name="mfg" class="form-control mb-2"/>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">SUBMIT</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="view_vehicle_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>EDIT VEHICLE</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form onsubmit="submit_update_vehicle_form(this)" name="update_vehicle_form">
                        <input type="hidden" name="registration_id" value="">
                        <label for="registration_number" class="form-label">Registraion Number</label>
                        <input type="text" id="registration_number" name="registration_number" class="form-control mb-2"
                               required/>
                        <label for="registration_name" class="form-label">Registration Name</label>
                        <input type="text" id="registration_name" name="registration_name" class="form-control mb-2"/>
                        <label for="registration_date" class="form-label">Registration Date</label>
                        <input type="date" id="registration_date" name="registration_date" class="form-control mb-2"/>
                        <label for="company" class="form-label">Company</label>
                        <input type="text" id="company" name="company" class="form-control mb-2"/>
                        <label for="model" class="form-label">Model</label>
                        <input type="text" id="model" name="model" class="form-control mb-2"/>
                        <label for="cc" class="form-label">CC</label>
                        <input type="text" id="cc" name="cc" class="form-control mb-2"/>
                        <label for="fuel" class="form-label">Fuel Type</label>
                        <select class="form-control mb-2" name="fuel" id="fuel">
                            <option value="">Select Fuel Type</option>
                            <option value="petrol">Petrol</option>
                            <option value="diesel">Diesel</option>
                        </select>
                        <label for="mfg" class="form-label">MFG Year</label>
                        <input type="number" class="form-control mb-2" name="mfg" id="mfg"/>
                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-primary">
                                UPDATE
                            </button>
                        </div>
                        <div class="text-end">
                            <button type="button" onclick="delete_vehicle()"
                                    class="btn btn-light text-danger">
                                <span class="bi bi-trash"></span> DELETE
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add_vehicle_policy_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>ADD VEHICLE POLICY</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name="add_vehicle_policy_form" onsubmit="submit_add_vehicle_policy_form(this)">
                        <div class="form-check mb-2">
                            <input class="form-check-input" name="own_business" type="checkbox" value="True"
                                   id="own_business">
                            <label class="form-check-label" for="own_business">
                                Own Business
                            </label>
                        </div>
                        <label class="form-label" for="registration_number">Registration Number</label>
                        <input type="text" class="form-control mb-2" name="registration_number" id="registration_number"
                               disabled/>
                        <label for="expiry_date" class="form-label">Expiry Date</label>
                        <input type="date" class="form-control mb-2" name="expiry_date" id="expiry_date" required/>
                        <label for="policy_number" class="form-label">Policy Number</label>
                        <input type="text" class="form-control mb-2" name="policy_number" id="policy_number"/>
                        <label for="policy_type" class="form-label">Policy Type</label>
                        <select class="form-control mb-2" name="policy_type" id="policy_type">
                            <option value="" selected>Select Type</option>
                            <option value="od_tp">Normal (OD+TP)</option>
                            <option value="tp">Third Party Only</option>
                            <option value="tentative">Tentative</option>
                            <option value="od">Own Damange Only</option>
                        </select>
                        <div class="form-check mb-2">
                            <input class="form-check-input" name="0_dap" type="checkbox" value="True" id="0_dap">
                            <label class="form-check-label" for="0_dap">
                                0 DAP Cover
                            </label>
                        </div>
                        <label for="company" class="form-label">Company</label>
                        <input type="text" class="form-control mb-2" name="company" id="company"/>
                        <label for="idv" class="form-label">IDV</label>
                        <input type="text" class="form-control mb-2" name="idv" id="idv"/>
                        <label for="ncb" class="form-label">NCB %</label>
                        <select class="form-control mb-2" name="ncb" id="ncb">
                            <option value="" selected>SELECT</option>
                            <option value="0">0%</option>
                            <option value="20">20%</option>
                            <option value="25">25%</option>
                            <option value="35">35%</option>
                            <option value="45">45%</option>
                            <option value="50">50%</option>
                        </select>
                        <label for="premium" class="form-label">Premium</label>
                        <input type="text" class="form-control mb-2" name="premium" id="premium"/>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">SUBMIT</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="view_vehicle_policy_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>EDIT VEHICLE POLICY</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name="edit_vehicle_policy_form" onsubmit="submit_edit_vehicle_policy_form(this)">
                        <input type="hidden" name="policy_id" id="policy_id" value=""/>
                        <div class="form-check mb-2">
                            <input class="form-check-input" name="own_business" type="checkbox" value="True"
                                   id="own_business">
                            <label class="form-check-label" for="own_business">
                                Own Business
                            </label>
                        </div>
                        <label class="form-label" for="policy_number">Policy Number</label>
                        <input type="text" class="form-control mb-2" name="policy_number" id="policy_number"/>
                        <label for="expiry_date" class="form-label">Expiry Date</label>
                        <input type="date" class="form-control mb-2" name="expiry_date" id="expiry_date" required/>
                        <label for="policy_type" class="form-label">Policy Type</label>
                        <select class="form-control mb-2" name="policy_type" id="policy_type">
                            <option value="" selected>Select Type</option>
                            <option value="od_tp">Normal (OD+TP)</option>
                            <option value="tp">Third Party Only</option>
                            <option value="tentative">Tentative</option>
                            <option value="od">Own Damange Only</option>
                        </select>
                        <div class="form-check mb-2">
                            <input class="form-check-input" name="0_dap" type="checkbox" value="True" id="0_dap">
                            <label class="form-check-label" for="0_dap">
                                0 DAP Cover
                            </label>
                        </div>
                        <label for="company" class="form-label">Company</label>
                        <input type="text" class="form-control mb-2" name="company" id="company"/>
                        <label for="idv" class="form-label">IDV</label>
                        <input type="text" class="form-control mb-2" name="idv" id="idv"/>
                        <label for="ncb" class="form-label">NCB %</label>
                        <select class="form-control mb-2" name="ncb" id="ncb">
                            <option value="" selected>SELECT</option>
                            <option value="0">0%</option>
                            <option value="20">20%</option>
                            <option value="25">25%</option>
                            <option value="35">35%</option>
                            <option value="45">45%</option>
                            <option value="50">50%</option>
                        </select>
                        <label for="premium" class="form-label">Premium</label>
                        <input type="text" class="form-control mb-2" name="premium" id="premium"/>
                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-primary">UPDATE</button>
                        </div>
                        <div class="text-end">
                            <button type="button" class="btn btn-light text-danger" onclick="delete_vehicle_policy()">
                                <span class="bi bi-trash"></span> DELETE
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block foot %}
    <script>

        person_id = '{{ person['_id'] }}'
        person_name = '{{ person['name'] }}'
        var current_vehicle_registration_number = ''
        var current_vehicle_registration_id = ''
        var current_vehicle_policy_id = ''

        function submit_add_contact_number_form(form) {
            event.preventDefault()
            number = form.number.value.trim()
            if (number == '') {
                show_alert('Number cannot be empty!', 'warning')
            } else {
                $.ajax({
                    url: '/api/add_contact_number',
                    type: 'POST',
                    data: {'_id': person_id, 'number': number},
                    dataType: 'JSON',
                    success: function (response) {
                        if (response.result == true) {
                            $('#add_contact_number_collapse').collapse('hide')
                            html = '<li class="list-group-item">' + number +
                                '<button onclick="remove_contact_number(this, \'' + number + '\')" class="float-end btn ">' +
                                '<span class="bi bi-dash-circle-fill text-danger"></span></button></li>'
                            $(html).appendTo($('#contact_number_list')).hide().slideDown('slow').effect('highlight')
                            form.reset()
                        } else {
                            show_alert('Error: ' + response.msg, 'error')
                        }
                    }
                })

            }
        }

        function remove_contact_number(e, number) {
            $.ajax({
                url: '/api/remove_contact_number',
                type: 'POST',
                data: {'_id': person_id, 'number': number},
                dataType: 'JSON',
                success: function (response) {
                    if (response.result == true) {
                        $(e).parent().slideUp(function () {
                            $(e).parent().remove()
                        })
                    } else {
                        show_alert(response.msg, 'error')
                    }
                }
            })
        }

        function submit_add_email_form(form) {
            event.preventDefault()
            email = form.email.value.trim()
            if (email == '') {
                show_alert('Email cannot be empty!', 'warning')
            } else {
                $.ajax({
                    url: '/api/add_contact_email',
                    type: 'POST',
                    data: {'_id': person_id, 'email': email},
                    dataType: 'JSON',
                    success: function (response) {
                        if (response.result == true) {
                            $('#add_email_collapse').collapse('hide')
                            html = '<li class="list-group-item">' + email +
                                '<button onclick="remove_email(this, \'' + email + '\')" class="float-end btn ">' +
                                '<span class="bi bi-dash-circle-fill text-danger"></span></button></li>'
                            $(html).appendTo($('#email_list')).hide().slideDown('slow').effect('highlight')
                            form.reset()
                        } else {
                            show_alert('Error: ' + response.msg, 'error')
                        }
                    }
                })

            }
        }

        function remove_email(e, email) {
            $.ajax({
                url: '/api/remove_email',
                type: 'POST',
                data: {'_id': person_id, 'email': email},
                dataType: 'JSON',
                success: function (response) {
                    if (response.result == true) {
                        $(e).parent().slideUp(function () {
                            $(e).parent().remove()
                        })
                    } else {
                        show_alert(response.msg, 'error')
                    }
                }
            })
        }

        function delete_person() {
            if (confirm('This will delete all data related to ' + person_name + '.\nAre you sure ?')) {
                $.ajax({
                    url: '/api/delete_person',
                    type: 'POST',
                    data: {'person_id': person_id},
                    dataType: 'JSON',
                    success: function (response) {
                        if (response.result == true) {
                            window.location.replace("/crm");
                        } else {
                            show_alert(response.msg, 'error')
                        }
                    }
                })
            }
        }

        function submit_add_vehicle_form(form) {
            event.preventDefault()
            data = $(form).serializeArray()
            data.push({'name': 'person_id', 'value': person_id})
            console.log(data)
            $.ajax({
                url: '/api/add_vehicle',
                data: data,
                type: 'POST',
                dataType: 'JSON',
                success: function (response) {
                    if (response.result == true) {
                        form.reset()
                        $('#add_vehicle_modal').modal('hide')
                        show_alert('Successfully added.', 'success')
                        location.reload()
                    } else {
                        alert(response.msg)
                    }
                }
            })
        }

        function view_vehicle(registration_id) {
            form = document.update_vehicle_form
            $.ajax({
                url: '/api/view_vehicle',
                type: 'POST',
                data: {'registration_id': registration_id},
                dataType: 'JSON',
                success: function (response) {
                    if (response.result == true) {
                        for (i of ['registration_id', 'registration_number', 'registration_name', 'company', 'model', 'cc', 'mfg']) {
                            form[i].value = response.data[i]
                        }
                        registration_date = response.data['registration_date']
                        if (registration_date != null) {
                            registration_date = formatdateinput(registration_date)
                        }
                        form.registration_date.value = registration_date
                    } else {
                        alert(response.msg)
                    }
                }
            })
            $('#view_vehicle_modal').modal('show')
        }

        function submit_update_vehicle_form(form) {
            event.preventDefault()
            data = $(form).serialize()
            $.ajax({
                url: '/api/update_vehicle',
                type: 'POST',
                data: data,
                dataType: 'JSON',
                success: function (response) {
                    if (response.result == true) {
                        $('#view_vehicle_modal').modal('hide')
                        show_alert('successfully updated vehicle details.', 'success')
                        location.reload()
                    } else {
                        alert(response.msg)
                    }
                }
            })
        }

        function delete_vehicle() {
            if (confirm('This will delete vehicle data and its policy data!')) {
                registration_id = document.update_vehicle_form.registration_id.value
                $.ajax({
                    url: '/api/delete_vehicle',
                    type: 'POST',
                    data: {'registration_id': registration_id},
                    dataType: 'JSON',
                    success: function (response) {
                        if (response.result == true) {
                            location.reload()
                        } else {
                            alert(response.msg)
                        }
                    }
                })
            }
        }

        function add_vehicle_policy(registration_number, registration_id) {
            current_vehicle_registration_number = registration_number
            current_vehicle_registration_id = registration_id
            document.add_vehicle_policy_form.registration_number.value = current_vehicle_registration_number
            $('#add_vehicle_policy_modal').modal('show')
        }

        function submit_add_vehicle_policy_form(form) {
            event.preventDefault()
            data = $(form).serializeArray()
            data.push({'name': 'person_id', 'value': person_id})
            data.push({'name': 'registration_number', 'value': current_vehicle_registration_number})
            data.push({'name': 'registration_id', 'value': current_vehicle_registration_id})
            $.ajax({
                url: '/api/add_motor_policy',
                data: data,
                type: 'POST',
                dataType: 'JSON',
                success: function (response) {
                    if (response.result == true) {
                        show_alert('Policy Successfully added.', 'success')
                        location.reload()
                    } else {
                        alert(response.msg)
                    }
                }
            })
        }

        function view_vehicle_policy(policy_id) {
            form = document.edit_vehicle_policy_form
            $.ajax({
                url: '/api/view_vehicle_policy',
                type: 'POST',
                data: {'policy_id': policy_id},
                dataType: 'JSON',
                success: function (response) {
                    current_vehicle_policy_id = response.data['_id']
                    form.policy_id.value = current_vehicle_policy_id
                    form.own_business.checked = (response.data['own_business'] === true) ? true : false
                    form['0_dap'].checked = (response.data['0_dap'] === true) ? true : false
                    if (response.result == true) {
                        for (i of ['policy_number', 'policy_type', '0_dap', 'company', 'idv', 'ncb', 'premium']) {
                            form[i].value = response.data[i]
                        }
                        expiry_date = response.data['expiry_date']
                        if (expiry_date != null) {
                            expiry_date = formatdateinput(expiry_date)
                        }
                        form.expiry_date.value = expiry_date
                    } else {
                        alert(response.msg)
                    }
                }
            })
            $('#view_vehicle_policy_modal').modal('show')
        }

        function submit_edit_vehicle_policy_form(form) {
            event.preventDefault()
            data = $(form).serialize()
            $.ajax({
                url: '/api/update_vehicle_policy',
                type: 'POST',
                data: data,
                dataType: 'JSON',
                success: function (response) {
                    if (response.result == true) {
                        $('#view_vehicle_policy_modal').modal('hide')
                        show_alert('successfully updated policy details.', 'success')
                        location.reload()
                    } else {
                        alert(response.msg)
                    }
                }
            })
        }

        function delete_vehicle_policy() {
            policy_id = current_vehicle_policy_id
            $.ajax({
                url: '/api/delete_vehicle_policy',
                type: 'POST',
                data: {'policy_id': policy_id},
                dataType: 'JSON',
                success: function (response) {
                    if (response.result == true) {
                        location.reload()
                    } else {
                        alert(response.msg)
                    }
                }
            })
        }
    </script>
{% endblock %}