<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CRM web application">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">

    <title>{% block title %}Freelancer CRM{% endblock %}</title>
</head>
<body class="bg-light">
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 7000" id="alert_container"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand fw-bold fs-3" href="/">CRM</a>
        <div id="ajax_loading" class="fadeout_hide spinner-border text-primary spinner-border-sm mx-auto" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarNav">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="navbarNav">CRM</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav gap-lg-3 mb-3 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/contacts">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/insurance_renewals">Insurance Renewals</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="dropdown_manage_companies" role="button"
                           data-bs-toggle="dropdown">
                            Manage
                        </a>
                        <ul class="dropdown-menu bg-light">
                            <li>
                                <a class="dropdown-item" href="/manage_insurance_companies">Insurance Companies</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/manage_vehicle_companies">Vehicles Companies</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="d-grid ms-auto">
                    <a class="fw-bolder btn btn-secondary px-3" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}

<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
{% block script %}{% endblock %}
</body>
</html>