{% extends 'crm/base.html' %}
{% block body %}
    <div class="bg-white border-bottom mb-3 py-3">
        <div class="container">
            <div class="d-lg-grid d-lg-flex justify-content-lg-between align-items-lg-center">
                <h1 class="text-capitalize ">Vehicle Companies</h1>
                <button class="btn btn-primary px-md-3 fw-bold" type="button" data-bs-toggle="modal"
                        data-bs-target="#modal_add_vehicle_company">
                    ADD COMPANY
                </button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="mb-3">
                    <span class="fs-5 text-muted">All Companies
                        (<span id="company_count">{{ company_list|length }}</span>)</span>
                </div>
                <div id="company_list" class="list-group">
                    {% for company in company_list %}
                        <button data-company-id="{{ company['_id'] }}"
                                class="list-group-item list-group-item-action text-capitalize"
                                onclick="view_modal_vehicle_company(this)">
                            {{ company['company_name'] }}
                        </button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_add_vehicle_company">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="exampleModalLabel">New Vehicle Company</h5>
                    <button type="button" class="btn btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="alert"></div>
                    <form id="form_add_vehicle_company" name="form_add_vehicle_company"
                          onsubmit="submit_form_add_vehicle_company(this)">
                        <label for="company_name" class="form-label text-muted">
                            Company Name <span class="text-danger">*</span>
                        </label>
                        <div class="mb-3">
                            <input placeholder="Company Name" type="text" class="form-control mb-3"
                                   name="company_name" id="company_name" required/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-end">
                    <button class="btn btn-light text-primary fw-bold" type="button" data-bs-dismiss="modal">CANCEL
                    </button>
                    <button type="submit" form="form_add_vehicle_company" class="px-5 fw-bold btn btn-primary">SAVE
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_vehicle_company">
        <div class="modal-dialog modal-fullscreen-lg-down">
            <div class="modal-content">
                <div class="modal-header bg-light text-dark">
                    <h5 class="modal-title" id="exampleModalLabel">Vehicle Company Details</h5>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4 class="mb-4" id="company_name">Company Name</h4>
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <button class="btn btn-light text-primary fw-bold" type="button" onclick="add_vehicle_model()">
                            ADD MODEL
                        </button>
                        <div class="text-muted">All Models
                            (<span id="model_count">0</span>)
                        </div>
                    </div>

                    <div class="list-group list-group-flush" id="model_list"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light text-danger fw-bold" type="button" onclick="delete_vehicle_company()">
                        Delete Company
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_add_vehicle_company_model">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="exampleModalLabel">New Vehicle Company Model</h5>
                    <button type="button" class="btn btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form_add_vehicle_company_model" name="form_add_vehicle_company_model"
                          onsubmit="submit_form_add_vehicle_company_model(this)">
                        <label for="model_name" class="form-label text-muted">
                            Model Name <span class="text-danger">*</span>
                        </label>
                        <div class="mb-3">
                            <input placeholder="Model Name" type="text" class="form-control mb-3"
                                   name="model_name" id="model_name" required/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-end">
                    <button class="btn btn-light text-primary fw-bold" type="button" data-bs-dismiss="modal">CANCEL
                    </button>
                    <button type="submit" form="form_add_vehicle_company_model" class="px-5 fw-bold btn btn-primary">
                        SAVE
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        company_list_el = document.getElementById('company_list')
        model_list_el = document.getElementById('model_list')
        current_company_id = null
        current_company_name = null
        modal_view_vehicle_company_el = document.getElementById('modal_vehicle_company')
        modal_view_vehicle_company_model_el = document.getElementById('modal_add_vehicle_company_model')
        company_count = document.getElementById('company_count')
        model_count = document.getElementById('model_count')

        function submit_form_add_vehicle_company(form) {
            event.preventDefault()
            // disable inputs
            disable_form(form)
            //get data
            data = {
                'company_name': form.company_name.value.trim()
            }
            //validate data
            is_valid = true
            invalid_fields = {}
            required_fields = ['company_name']
            for (i in required_fields) {
                field = required_fields[i]
                if (data[field] === '') {
                    is_valid = false;
                    invalid_fields[field] = 'Cannot be empty!';
                }
            }
            validate_form(form, invalid_fields)
            if (is_valid) {
                unvalidate_form(form)
                request.open('POST', '/api/add_vehicle_company')
                request.setRequestHeader('Content-Type', 'application/json')
                request.responseType = 'json'
                request.onload = function () {
                    if (this.status >= 200 && this.status <= 400) {
                        if (this.response.result === true) {
                            var list_item_el = document.createElement('button')
                            list_item_el.className = 'list-group-item list-group-item-action text-capitalize'
                            list_item_el.setAttribute('data-company-id', this.response['_id']['$oid'])
                            list_item_el.setAttribute('onclick', 'view_modal_vehicle_company(this)')
                            list_item_el.innerHTML = data['company_name']
                            company_list_el.insertBefore(list_item_el, company_list_el.firstChild)
                            show_alert('Company added successfully.', 'success')
                            form.reset()
                            count = Number(document.getElementById("company_count").innerText)
                            document.getElementById("company_count").innerText = count + 1
                            modal_add_vehicle_company = bootstrap.Modal.getInstance(document.getElementById('modal_add_vehicle_company'))
                            modal_add_vehicle_company.hide()
                        } else {
                            validate_form(form, this.response.invalid_fields)
                            console.log(this.response.msg)
                            show_alert(this.response.msg, 'warning')
                        }
                    } else {
                        show_alert('Server error!', 'error')
                    }
                    enable_form(form)
                }
                request.send(JSON.stringify(data))
            } else {
                enable_form(form)
            }
        }

        function view_modal_vehicle_company(e) {
            current_company_id = e.getAttribute('data-company-id')
            current_company_name = e.innerText
            modal_view_vehicle_company = new bootstrap.Modal(modal_view_vehicle_company_el)
            // get model list of current company
            data = {'company_id': current_company_id}
            request.open('POST', '/api/get_vehicle_company_details')
            request.setRequestHeader('Content-Type', 'application/json')
            request.responseType = 'json'
            request.onload = function () {
                if (this.status >= 200 && this.status <= 400) {
                    if (this.response.result === true) {
                        model_list_el.innerHTML = ''
                        var models = this.response.data['models']
                        var count = 0
                        for (i in models) {
                            count ++
                            var model = models[i]
                            var list_item_el = document.createElement('div')
                            list_item_el.className = 'list-group-item list-group-item-action text-capitalize'
                            list_item_el.className = 'list-group-item d-flex justify-content-between align-items-center'
                            list_item_el.innerHTML = "<span class='text-capitalize'>" + model + "</span>" +
                                '<button data-model-id="' + model + '" class="btn text-danger fw-bold" onclick="delete_vehicle_company_model(this)">Remove</button>'
                            model_list_el.insertBefore(list_item_el, model_list_el.firstChild)
                        }
                        model_count.innerText = count
                        modal_view_vehicle_company_el.querySelector('#company_name').innerText = e.innerText
                        modal_view_vehicle_company.show()
                    } else {
                        console.log(this.response.msg)
                        show_alert(this.response.msg, 'warning')
                    }
                } else {
                    show_alert('Server error!', 'error')
                }
            }
            request.send(JSON.stringify(data))
        }

        function add_vehicle_model() {
            modal_view_vehicle_company_model = new bootstrap.Modal(modal_view_vehicle_company_model_el)
            modal_view_vehicle_company.hide()
            modal_view_vehicle_company_el.addEventListener('hidden.bs.modal', function (event) {
                modal_view_vehicle_company_model.show()
            }, {once: true})
        }

        function submit_form_add_vehicle_company_model(form) {
            event.preventDefault()
            // disable inputs
            disable_form(form)
            //get data
            data = {
                'company_name': current_company_name,
                'model_name': form.model_name.value.trim()
            }
            //validate data
            is_valid = true
            invalid_fields = {}
            required_fields = ['model_name']
            for (i in required_fields) {
                field = required_fields[i]
                if (data[field] === '') {
                    is_valid = false;
                    invalid_fields[field] = 'Cannot be empty!';
                }
            }
            validate_form(form, invalid_fields)
            if (is_valid) {
                unvalidate_form(form)
                request.open('POST', '/api/add_vehicle_company_model')
                request.setRequestHeader('Content-Type', 'application/json')
                request.responseType = 'json'
                request.onload = function () {
                    if (this.status >= 200 && this.status <= 400) {
                        if (this.response.result === true) {
                            var list_item_el = document.createElement('div')
                            list_item_el.className = 'list-group-item list-group-item-action text-capitalize'
                            list_item_el.className = 'list-group-item d-flex justify-content-between align-items-center'
                            list_item_el.innerHTML = "<span class='text-capitalize'>" + data['model_name'] + "</span>" +
                                '<button data-model-id="' + data['model_name'] + '" class="btn text-danger fw-bold" onclick="delete_vehicle_company_model(this)">Remove</button>'
                            model_list_el.insertBefore(list_item_el, model_list_el.firstChild)
                            show_alert('Model added successfully.', 'success')
                            form.reset()
                            count = Number(document.getElementById("model_count").innerText)
                            document.getElementById("model_count").innerText = count + 1
                            modal_add_vehicle_company = bootstrap.Modal.getInstance(document.getElementById('modal_add_vehicle_company'))
                            modal_view_vehicle_company_model.hide()
                            modal_view_vehicle_company_model_el.addEventListener('hidden.bs.modal', function (event) {
                                modal_view_vehicle_company.show()
                            }, {once: true})
                        } else {
                            validate_form(form, this.response.invalid_fields)
                            console.log(this.response.msg)
                            show_alert(this.response.msg, 'warning')
                        }
                    } else {
                        show_alert('Server error!', 'error')
                    }
                    enable_form(form)
                }
                request.send(JSON.stringify(data))
            } else {
                enable_form(form)
            }
        }

        function delete_vehicle_company_model(e) {
            if (confirm('Do you want to delete this company model ?')) {
                data = {
                    'company_id': current_company_id,
                    'model_name': e.getAttribute("data-model-id")
                }
                request.open('POST', '/api/delete_vehicle_company_model')
                request.setRequestHeader('Content-Type', 'application/json')
                request.responseType = 'json'
                request.onload = function () {
                    if (this.status >= 200 && this.status <= 400) {
                        if (this.response.result === true) {
                            show_alert(this.response.msg, 'success')
                            count = Number(model_count.innerText)
                            model_count.innerText = count - 1
                            e.parentElement.remove()
                        } else {
                            console.log(this.response.msg)
                            show_alert(this.response.msg, 'warning')
                        }
                    } else {
                        show_alert('Server error!', 'error')
                    }
                }
                request.send(JSON.stringify(data))
            }
        }

        function delete_vehicle_company() {
            if (confirm('Do you want to delete this vehicle company with all its data ?')) {
                data = {
                    'company_id': current_company_id,
                }
                request.open('POST', '/api/delete_vehicle_company')
                request.setRequestHeader('Content-Type', 'application/json')
                request.responseType = 'json'
                request.onload = function () {
                    if (this.status >= 200 && this.status <= 400) {
                        if (this.response.result === true) {
                            show_alert(this.response.msg, 'success')
                            company_list_el.querySelector('[data-company-id="' + current_company_id + '"]').remove()
                            count = Number(company_count.innerText)
                            company_count.innerText = count - 1
                            modal_view_vehicle_company.hide()
                        } else {
                            console.log(this.response.msg)
                            show_alert(this.response.msg, 'warning')
                        }
                    } else {
                        show_alert('Server error!', 'error')
                    }
                }
                request.send(JSON.stringify(data))
            }
        }
    </script>
{% endblock %}